<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8161218851-5tenem8jomsvi0nb4o55hq5hu7f27tob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8161218851-5tenem8jomsvi0nb4o55hq5hu7f27tob</string>
	<key>API_KEY</key>
	<string>AIzaSyDLXNAjXB8c9wB0dH9Po_ck7We1CeuzscI</string>
	<key>GCM_SENDER_ID</key>
	<string>8161218851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterconnect</string>
	<key>PROJECT_ID</key>
	<string>hack19-6b761</string>
	<key>STORAGE_BUCKET</key>
	<string>hack19-6b761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8161218851:ios:60eb22447f3bceac</string>
	<key>DATABASE_URL</key>
	<string>https://hack19-6b761.firebaseio.com</string>
</dict>
</plist>